html {
  font-family: Helvetica;
  text-align: center;
}

.top {
  background-image: url('../the-flatiron-building.png');
  background-size: cover;

  font-size: 70px;
  color: white;
  display: block;

}

.links a {
  font-size: 18px;
  color: white;
  display: inline;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

#divider {
  color: white;
  background-image: url('../the-flatiron-building.png');
  background-size: cover;
}

nav {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

nav a {
  color: white;
}
